//journy lijn 457-496 en 590-616

.C-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.c-form__group{
    width: 100%;
    margin-bottom: 15px;
    position: relative;
}

.c-form__label{
    padding-top: 0.5rem;
    padding-left: 2rem;
    font-size: 1.6rem;
    width: 100%;

    &--checkbox{
        padding-left: 0;
    }
}

.c-form__label:not(.c-form__label--checkbox){
    position: absolute;
    top: 0;
    left: 9px;
    line-height: 2.4;
    cursor: text;
    pointer-events: none;

    &--optional{
        text-align: right;
    }
}

.c-form__input{
    transition: all 0.2s;

    &:focus{
        outline: none;
        box-shadow: none;
        border: 1px solid $color-orange;
    }

    &::placeholder{
        opacity: 0;
    }

    & ~ .c-form__label{
        transition: all .2s;
    }

    &:not(:placeholder-shown){
        padding-top: 1.25rem;

        & ~ .c-form__label{
            font-size: 1.2rem;
            line-height: 1.5;
        }
    }
}

.form-control-lg{
    height: 50px;
    font-size: 1.6rem;
    border-color: $color-blue;
    border-radius: 5px;
    color: $color-blue;
    padding-left: 3rem;
}

textarea.form-control{
    border-color: #707070;
    border-radius: 5px;
    height: 166px;
    font-size: 1.6rem;
    padding-left: 3rem;
}

input[type="checkbox"]{
    margin-right: 9px;
}






// .c-form{
    
//     &__input{
//         border-color: #707070;
//         border-radius: 5px;
//         height: 50px;
//         font-size: 1.6rem;
//         color: #CACACA;
//         padding-left: 3rem;
//     }

//     &__checkbox-label{
//         font-size: 1.6rem;
//     }
// }

// textarea.form-control{
//     border-color: #707070;
//     border-radius: 5px;
//     height: 166px;
//     font-size: 1.6rem;
//     padding-left: 3rem;
// }