.c-footer{
    border-top: $color-orange 3px solid;
    background-color: $color-grey;

    &__row{
        display: flex;
        justify-content: space-between;

        @media (max-width: 576px) {
            display: block;
        }
    }

    &__logo{
        padding-top: 2.8px;
        padding-bottom: 6.5px;
        text-align: center;
    }

    &__logo-klein{
        width: 5rem;
        
        @media (max-width: 576px){
            display: none;
        }
    }

    &__logo-groot{
        width: 60%;
        padding-top: 16px;
        text-align: center;
        
        @media (min-width: 577px){
            display: none;
        }
    }


    &__copyright{
        padding-top: 19px;
        text-align: center;
    }

    &__icons{
        display: flex;
        padding-top: 16px;

        @media (max-width: 576px) {
            padding-bottom: 19px;
        }
    }

    &__icon{
        height: 30px;

        &:not(:last-child){
            padding-right: 17px;
        }
    }
}

img{
    width: 100%;
}