/* navbar ******************************************************/
.navbar {
  padding-top: 0;
  padding-bottom: 0;
}
.nav-item {
  font-size: 1.8rem;
  font-family: $font-family;
  &__active {
    color: $color-grey;
    background-color: $color-red;
  }
}

/* ============ desktop view ============ */
@media all and (min-width: 992px) {
  .navbar .nav-item .dropdown-menu {
    display: none;
    background-color: $color-orange;
  }

  .navbar .nav-item:hover .nav-link {
    /* color: #fff; */
    background-color: $color-orange;
  }

  .navbar .nav-item:hover .dropdown-menu {
    display: block;
    background-color: $color-orange;
  }

  .navbar .nav-item .dropdown-menu {
    margin-top: 0;
    background-color: $color-orange;
  }
}

/* ============ desktop view .end// ============ */
.navbar-background {
  background-color: $color-orange;
}
.navbar-nav {
  justify-content: center;
  flex: 1;
  background-color: $color-orange;
}

.dropdown-item {
  background-color: $color-orange;
  color: white;
  font-size: 1.8rem;

  &:hover {
    color: $color-grey;
    background-color: $color-red;
  }
}
.dropdown-menu {
  // box-shadow: -2px -2px 18px 8px rgba(0, 0, 0, 0.15);
  background-color: $color-orange;
  outline: none;
  max-width: 100%;
}
/* change the color of active or hovered links */
.active-link {
  color: $color-grey;
  background-color: $color-red; /* add background-color to active links */
}

/* change the link color */
.navbar .navbar-nav .nav-link {
  color: $color-grey;
  padding: 1.3rem 2rem;
  font-size: 1.8rem;

  &:hover {
    color: $color-grey;
    background-color: $color-red;
  }
}
