.c-banner-klok {
  height: 22rem;
  background-color: $color-blue;
  text-align: center;
  align-self: center;

  &-text {
    padding-top: 5rem;
    color: $color-grey;
    @media screen and (max-width: 500px) {
      margin: 0 4rem;
    }
    &-xl {
      color: $color-grey;
      font-size: 6rem;
      @media screen and (max-width: 500px) {
        font-size: 4rem;
      }
    }
  }
}
.c-banner-contact {
  height: 8.5rem;
  background-color: $color-blue;
  margin-bottom: 5rem;
  @media screen and (max-width: 600px) {
    height: 16rem;
  }

  &-text {
    color: $color-grey;
    padding-top: 2rem;
    display: inline-block;
  }
  &-btn {
    @media screen and (min-width: 500px) {
      margin-right: -0.7rem;
    }
    @media screen and (max-width: 500px) {
      margin-top: 1rem;
      margin: 0;
      width: 100%;
      left: 2.4rem;
    }
  }
}
.c-uspbanner {
  background-color: $color-blue;
  padding: 1rem;
  padding-top: 5.5rem;
  padding-bottom: 5rem;
  margin-top: 4rem;
  &__background {
    background-color: $color-blue;
  }
  &__text {
    font-size: 1.6rem;
    color: #edf3f4;
    margin-top: 2.8rem;
  }
  &__title {
    color: $color-orange;
    font-weight: 700;
    margin: 0;
    margin-bottom: 5rem;
    font-size: 2rem;
  }
  &__center {
    margin: 0 auto;
    text-align: center;
  }
  &__icon {
    @media screen and (max-width: 500px) {
      margin-bottom: 1rem;
    }
  }
}
