/* navbar ******************************************************/
.navbar {
  padding-top: 0;
  padding-bottom: 0;
}
.nav-item {
  font-size: 1.8rem;
  font-family: $font-family;
  //geen idee wat dit doet
  &__active {
    color: $color-grey;
    background-color: $color-red;
  }
}

.bg-color {
  background-color: $color-white;
  box-shadow: none;
}
.z-depth-0 {
  background-color: $color-white;
}
.nav {
  background-color: $color-white;
  &__item {
    color: #023c48;
    font-size: 1.8rem;
    &:hover {
      color: $color-red;
      background-color: $color-white;
      font-weight: bold;
    }
    &-active {
      color: $color-red;
      font-weight: bold;
    }
  }
  &__hamburger {
    color: $color-blue;
    &:hover {
      color: $color-red;
    }
  }
}
.nav i.material-icons {
  margin: 0;
}
.collapsible-accordion {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  &:focus {
    background-color: $color-white;
  }
}
a.side-nav__item {
  color: $color-blue;
  font-size: 1.8rem;
  margin: 0 1rem;
  // padding: 0;

  &:hover {
    color: $color-red;
    background-color: $color-white;
    font-weight: 600;
  }
  &-active {
    color: $color-red;
    font-weight: 600;
  }
}
.side-nav ul {
  background-color: $color-white;
  &:hover {
    background-color: $color-white;
  }
}
.side-nav li {
  background-color: $color-white;
  &:hover {
    background-color: $color-white;
  }
}

ul.dropdown-content .dropdown-content__item {
  color: $color-blue;
  font-size: 1.8rem;
  &:hover {
    font-weight: 600;
    background-color: $color-white;
    color: $color-red;
  }
}

@media only screen and (min-width: 993px) {
  nav a.sidenav-trigger {
    display: none !important;
  }
}

@media only screen and (max-width: 1209px) {
  nav a.button-collapse {
    display: block !important;
    text-align: center;
  }
  nav .hide-on-med-and-down {
    display: none;
  }
}

.c-topnav {
  display: flex;
  justify-content: space-between;

  @media (max-width: 1100px) {
    flex-direction: column;
  }

  @media (max-width: 401px) {
    width: 111%;
    overflow-x: hidden;
  }

  &__logo {
    width: 27.3rem;
    margin: 15px 0;

    @media (max-width: 1104px) {
      width: 19.3rem;
    }

    @media (max-width: 816px) {
      margin: 15px auto;
      width: 38rem;
    }
    @media (max-width: 360px) {
      margin: auto;
    }
  }

  & nav {
    width: auto;
    background: none;
    box-shadow: none;
    margin-top: 1.4rem;

    @media (max-width: 816px) {
      margin: 15px auto;
    }

    & ul a {
      color: $color-blue;
      font-size: 1.8rem;

      &:hover {
        text-decoration: underline;
        background: none;
      }
    }
  }

  &__knoppen {
    margin-top: 27px;
    margin-left: 0;
    @media (max-width: 400px) {
      margin-left: -4rem;
    }

    @media (max-width: 816px) {
      margin-top: 0;
      margin-bottom: 15px;
      display: flex;
      justify-content: center;
    }
  }

  &__knop {
    margin: 0;

    &--offerte {
      margin-right: 20px;
    }
  }
}
