.o-button {
    @media screen and (max-width: 500px) {
        display: flex;
        flex-direction: column;
        margin-right: 0;
    }
    font-size: 1.6rem;
    transition: 0.5s;
    color: $color-grey;
    border-radius: $btn-border-radius;
    background-color: $color-orange;
    padding-left: $btn-padding-L-R;
    padding-right: $btn-padding-L-R;
    padding-top: $btn-padding-T-B;
    padding-bottom: $btn-padding-T-B;
    margin-top: $btn-margin-T;
    margin-bottom: $btn-margin-B;
    margin-right: 2.5rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border: 1px solid $color-orange;
    // verschillende versies
    &--offerte {
        max-width: 12rem;
        min-width: 12rem;

        @media (max-width: 816px){
            min-width: 16rem;
            max-width: 16rem;
          }
    }
    &--noodnummer {
        background-color: $color-red;
        border: 1px solid $color-red;
        min-width: 16rem;
        max-width: 16rem;
        &:hover {
            border: 1px solid $color-red;
            background-color: white;
            color: $color-blue;

            & span {
                display: none;
            }
            &:before {
                content: "+32 56 56 56 16";
            }
        }
    }
    &-filter {
        background-color: $color-grey--dark;
        border: 1px solid $color-grey--dark;
        &:hover {
            background-color: $color-blue;
            border: 1px solid $color-blue;
        }
        &-active {
            background-color: $color-orange;
        }
    }
    &-nav {
        // margin-left: 2.5rem;
        &-active {
            background-color: $color-red;
            border: 1px solid $color-red;
        }
        &:hover {
            background-color: white;
            border: 1px solid $color-orange;
            color: black;
        }
    }
    // https://1stwebdesigner.com/20-amazing-pure-css-animated-buttons/
    // een beetje aanpassingen op gedaan
    &-effect {
        text-align: center;
        position: relative;
        text-decoration: none;
        color: white;
        font-weight: 500;
        /* background-color: - add your own background-color */
        font: {
            family: "Roboto", sans-serif; /* put your font-family */
            size: 16px;
        }
        width: 205px;
        overflow: hidden;
        &-1 {
            transition: all 0.2s linear 0s;

            &:before {
                content: "\f178";
                font-family: FontAwesome;
                font-size: 15px;
                position: absolute;
                display: flex;
                align-items: center;
                justify-content: center;
                right: 0;
                top: 0;
                opacity: 0;
                height: 100%;
                width: 40px;
                transition: all 0.2s linear 0s;
            }
            &:hover {
                text-indent: -20px;

                &:before {
                    opacity: 1;
                    text-indent: 0px;
                }
            }
        }
    }
}
