//kleurvariabelen
$color-red: #e84e1b;
$color-orange: #f29100;
$color-blue: #023c48;
$color-grey: #edf3f4;
$color-grey--dark: #809da3;

//fonts
$font-family: "Roboto", "sans-serif";

//waardes padding/margin XL en XXL
$img-margin-B: 3rem;
$img-border-radius: 10px;
$btn-border-radius: 17px;
$btn-padding-L-R: 2rem;
$btn-padding-T-B: 0.5rem;
$btn-margin-T: 3rem;
$btn-margin-B: 2rem;
$h1-margin-T: 4rem;
$h1-margin-B: 1rem;
$h2-margin-T-B: 2rem;
$h3-margin-T: 1rem;
$p-margin-T: 1rem;
$p-margin-B: 2rem;
$icon-margin-T: 2rem;
//FOOTER: STANDAARD 5 rem tussen laatste element en footer
