@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", "sans-serif";
}

h1 {
  font-size: 3.2rem;
  color: #e84e1b;
  font-weight: bold;
  margin-top: 4rem;
  margin-bottom: 1rem;
  font-size: 3.2rem;
  color: #e84e1b;
  font-weight: bold;
  margin-top: 4rem;
  margin-bottom: 1rem;
}

h2 {
  font-size: 2rem;
  color: #f29100;
  font-weight: bold;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

h3 {
  font-size: 2rem;
  color: #f29100;
  margin-top: 1rem;
  font-size: 3.2rem;
  color: #e84e1b;
  font-weight: bold;
  margin-top: 4rem;
  margin-bottom: 1rem;
  font-size: 3.2rem;
  color: #e84e1b;
  font-weight: bold;
  margin-top: 4rem;
  margin-bottom: 1rem;
}

@media screen and (max-width: 500px) {
  h3 {
    font-size: 2rem;
  }
}

@media screen and (max-width: 500px) {
  h3 {
    font-size: 2rem;
  }
}

h2 {
  font-size: 2rem;
  color: #f29100;
  font-weight: bold;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

@media screen and (max-width: 500px) {
  h2 {
    font-size: 1.6rem;
  }
}

h3 {
  font-size: 2rem;
  color: #f29100;
  margin-top: 1rem;
}

@media screen and (max-width: 500px) {
  h3 {
    font-size: 1.6rem;
  }
}

p {
  font-size: 1.6rem;
  color: #023c48;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.button {
  font-size: 1.6rem;
  color: #edf3f4;
  border-radius: 17px;
  background-color: #f29100;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-top: 3rem;
  margin-bottom: 2rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.btn {
  font-size: 1.6rem;
  font-family: "Roboto", "sans-serif";
  color: #edf3f4;
  text-transform: none;
  border-radius: 1.7rem;
  outline: none;
  margin-right: 2rem;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn__active {
  background-color: #f29100;
}

.btn__active:hover {
  color: #edf3f4;
  background-color: #f29100;
}

.btn__notactive {
  background-color: #809da3;
}

.btn__notactive:hover {
  color: #edf3f4;
  background-color: #f29100;
}

.o-button {
  font-size: 1.6rem;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: #edf3f4;
  border-radius: 17px;
  background-color: #f29100;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-top: 3rem;
  margin-bottom: 2rem;
  margin-right: 2.5rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border: 1px solid #f29100;
}

@media screen and (max-width: 500px) {
  .o-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-right: 0;
  }
}

.o-button--offerte {
  max-width: 16rem;
  min-width: 16rem;
}

.o-button--noodnummer {
  background-color: #e84e1b;
  border: 1px solid #e84e1b;
  min-width: 16rem;
  max-width: 16rem;
}

.o-button--noodnummer:hover {
  border: 1px solid #e84e1b;
  background-color: white;
  color: #023c48;
}

.o-button--noodnummer:hover span {
  display: none;
}

.o-button--noodnummer:hover:before {
  content: "+32 56 56 56 16";
}

.o-button-filter {
  background-color: #809da3;
  border: 1px solid #809da3;
}

.o-button-filter:hover {
  background-color: #023c48;
  border: 1px solid #023c48;
}

.o-button-filter-active {
  background-color: #f29100;
}

.o-button-nav-active {
  background-color: #e84e1b;
  border: 1px solid #e84e1b;
}

.o-button-nav:hover {
  background-color: white;
  border: 1px solid #f29100;
  color: black;
}

.o-button-effect {
  text-align: center;
  position: relative;
  text-decoration: none;
  color: white;
  font-weight: 500;
  /* background-color: - add your own background-color */
  font-family: "Roboto", sans-serif;
  /* put your font-family */
  font-size: 16px;
  width: 205px;
  overflow: hidden;
}

.o-button-effect-1 {
  -webkit-transition: all 0.2s linear 0s;
  transition: all 0.2s linear 0s;
}

.o-button-effect-1:before {
  content: "\f178";
  font-family: FontAwesome;
  font-size: 15px;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  right: 0;
  top: 0;
  opacity: 0;
  height: 100%;
  width: 40px;
  -webkit-transition: all 0.2s linear 0s;
  transition: all 0.2s linear 0s;
}

.o-button-effect-1:hover {
  text-indent: -20px;
}

.o-button-effect-1:hover:before {
  opacity: 1;
  text-indent: 0px;
}

/* navbar ******************************************************/
.navbar {
  padding-top: 0;
  padding-bottom: 0;
}

.nav-item {
  font-size: 1.8rem;
  font-family: "Roboto", "sans-serif";
}

.nav-item__active {
  color: #edf3f4;
  background-color: #e84e1b;
}

/* navbar materialize ********************************************/
.nav-wrapper {
  background-color: #f29100;
  -webkit-box-shadow: none;
          box-shadow: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.z-depth-0 {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.nav__item {
  font-size: 1.8rem;
  font-family: "Roboto", "sans-serif";
  color: #edf3f4;
}

.nav__item:hover {
  text-decoration: none;
  color: #edf3f4;
  background-color: #e84e1b;
}

.nav__active {
  color: #edf3f4;
  background-color: #e84e1b;
}

.dropdown-content {
  max-width: 100%;
  background-color: #f29100;
}

.dropdown-content:focus {
  outline: none;
}

.dropdown-content li > a,
.dropdown-content li > span {
  font-size: 1.8rem;
  background-color: #f29100;
  color: #edf3f4;
  display: block;
  line-height: 22px;
}

a:hover {
  text-decoration: none;
}

.sidenav {
  background-color: #f29100;
}

.sidenav li > a {
  background-color: #f29100;
  color: #edf3f4;
  display: block;
  font-size: 1.6rem;
  font-weight: 400;
  height: 4.8rem;
  line-height: 4.8rem;
  padding: 0 3.2rem;
}

.sidenav li > a:hover {
  color: #edf3f4;
  background-color: #e84e1b;
}

.sidenav li > a:focus {
  outline: none;
}

i.material-icons {
  color: #edf3f4;
  cursor: pointer;
}

i.material-icons:hover {
  color: #edf3f4;
}

.sidenav li > a > i.material-icons {
  float: left;
  height: 48px;
  line-height: 48px;
  margin: 0 32px 0 0;
  width: 0;
  color: #edf3f4;
}

.dropdown-trigger {
  border: none;
}

.c-footer {
  border-top: #f29100 3px solid;
}

.c-footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 576px) {
  .c-footer__row {
    display: block;
  }
}

.c-footer__logo {
  padding-top: 2.8px;
  padding-bottom: 6.5px;
  text-align: center;
}

.c-footer__logo-klein {
  width: 5rem;
}

@media (max-width: 576px) {
  .c-footer__logo-klein {
    display: none;
  }
}

.c-footer__logo-groot {
  width: 60%;
  padding-top: 16px;
  text-align: center;
}

@media (min-width: 577px) {
  .c-footer__logo-groot {
    display: none;
  }
}

.c-footer__copyright {
  padding-top: 19px;
  text-align: center;
}

.c-footer__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 16px;
}

@media (max-width: 576px) {
  .c-footer__icons {
    padding-bottom: 19px;
  }
}

.c-footer__icon {
  height: 30px;
  margin-left: 3rem;
}

.c-footer__icon:not(:last-child) {
  padding-right: 17px;
}

img {
  width: 100%;
}

.C-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.c-form__group {
  width: 100%;
  margin-bottom: 15px;
  position: relative;
}

.c-form__label {
  padding-top: 0.5rem;
  padding-left: 2rem;
  font-size: 1.6rem;
  width: 100%;
}

.c-form__label--checkbox {
  padding-left: 0;
}

.c-form__label:not(.c-form__label--checkbox) {
  position: absolute;
  top: 0;
  left: 9px;
  line-height: 2.4;
  cursor: text;
  pointer-events: none;
}

.c-form__label:not(.c-form__label--checkbox)--optional {
  text-align: right;
}

.c-form__input {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.c-form__input:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 1px solid #f29100;
}

.c-form__input::-webkit-input-placeholder {
  opacity: 0;
}

.c-form__input:-ms-input-placeholder {
  opacity: 0;
}

.c-form__input::-ms-input-placeholder {
  opacity: 0;
}

.c-form__input::placeholder {
  opacity: 0;
}

.c-form__input ~ .c-form__label {
  -webkit-transition: all .2s;
  transition: all .2s;
}

.c-form__input:not(:placeholder-shown) {
  padding-top: 1.25rem;
}

.c-form__input:not(:placeholder-shown) ~ .c-form__label {
  font-size: 1.2rem;
  line-height: 1.5;
}

.form-control-lg {
  height: 50px;
  font-size: 1.6rem;
  border-color: #023c48;
  border-radius: 5px;
  color: #023c48;
}

textarea.form-control {
  border-color: #707070;
  border-radius: 5px;
  height: 166px;
  font-size: 1.6rem;
}

input[type="checkbox"] {
  margin-right: 9px;
}

.c-banner-klok {
  height: 22rem;
  background-color: #023c48;
  text-align: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.c-banner-klok-text {
  padding-top: 5rem;
  color: #edf3f4;
}

@media screen and (max-width: 500px) {
  .c-banner-klok-text {
    margin: 0 4rem;
  }
}

.c-banner-klok-text-xl {
  color: #edf3f4;
  font-size: 6rem;
}

@media screen and (max-width: 500px) {
  .c-banner-klok-text-xl {
    font-size: 4rem;
  }
}

.c-banner-contact {
  height: 8.5rem;
  background-color: #023c48;
  margin-bottom: 5rem;
}

@media screen and (max-width: 600px) {
  .c-banner-contact {
    height: 16rem;
  }
}

.c-banner-contact-text {
  color: #edf3f4;
  padding-top: 2rem;
  display: inline-block;
}

@media screen and (min-width: 500px) {
  .c-banner-contact-btn {
    margin-right: -0.7rem;
  }
}

@media screen and (max-width: 500px) {
  .c-banner-contact-btn {
    margin-top: 1rem;
    margin: 0;
    width: 100%;
    left: 2.4rem;
  }
}

.c-uspbanner {
  background-color: #023c48;
  padding: 1rem;
  padding-top: 5.5rem;
  padding-bottom: 5rem;
  margin-top: 4rem;
}

.c-uspbanner__background {
  background-color: #023c48;
}

.c-uspbanner__text {
  font-size: 1.6rem;
  color: #edf3f4;
  margin-top: 2.8rem;
}

.c-uspbanner__title {
  color: #f29100;
  font-weight: 700;
  margin: 0;
  margin-bottom: 5rem;
  font-size: 2rem;
}

.c-uspbanner__center {
  margin: 0 auto;
  text-align: center;
}

@media screen and (max-width: 500px) {
  .c-uspbanner__icon {
    margin-bottom: 1rem;
  }
}

.c-contactgegevens {
  margin-bottom: -3.5px;
}

/* USP banner ***************************/
.c-uspBanner {
  background-color: #023c48;
  padding: 1rem;
  padding-top: 5.5rem;
  padding-bottom: 5rem;
  margin-top: 4rem;
}

.c-uspBanner__background {
  background-color: #023c48;
}

.c-uspBanner__text {
  font-size: 1.6rem;
  color: #edf3f4;
  margin-top: 2.8rem;
}

.c-uspBanner__title {
  color: #f29100;
  font-weight: 700;
  margin: 0;
  margin-bottom: 5rem;
  font-size: 2rem;
}

.c-uspBanner__center {
  margin: 0 auto;
  text-align: center;
}

.c-reviews__card {
  background-color: #edf3f4;
  -webkit-box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
          box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  margin-right: 1rem;
}

.c-reviews__card:last-child {
  margin-right: 0;
}

.c-reviews__title {
  font-size: 1.6rem;
  color: #023c48;
  text-align: center;
  margin-bottom: 3rem;
  margin-top: 3.2rem;
}

.c-reviews__text {
  font-weight: 700;
  color: #023c48;
  padding-top: 2.2rem;
  padding-left: 1.8rem;
  padding-right: 0.06rem;
  margin-top: 0;
}

.c-reviews__stars {
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 2.09rem;
  padding-right: 2.09rem;
  margin-bottom: 1.22rem;
}

.btn {
  font-size: 1.6rem;
  font-family: "Roboto", "sans-serif";
  color: #edf3f4;
  text-transform: none;
  border-radius: 1.7rem;
  outline: none;
  margin-right: 2rem;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn__active {
  background-color: #f29100;
}

.btn__active:hover {
  color: #edf3f4;
  background-color: #f29100;
}

.btn__notactive {
  background-color: #809da3;
}

.btn__notactive:hover {
  color: #edf3f4;
  background-color: #f29100;
}

.c-realisaties {
  margin-top: 4.8rem;
}

.c-realisaties__title {
  font-weight: 400;
}

.c-realisaties__img {
  width: 49.3rem;
  height: 37rem;
  border-radius: 1rem;
  -webkit-box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
          box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}

.c-realisaties__item {
  margin-bottom: 5rem;
}

.c-realisaties__btns {
  margin-top: 6.3rem;
}

.overlay {
  position: absolute;
  bottom: 0;
  background: black;
  background: rgba(242, 145, 0, 0.5);
  /* Black see-through */
  color: #f1f1f1;
  width: 100%;
  opacity: 0;
  color: white;
  font-size: 20px;
  padding: 116px;
  width: 49.3rem;
  height: 37rem;
  border-radius: 1rem;
  text-align: center;
}

.container:hover .overlay {
  opacity: 1;
}

/* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
/* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .c-uspBanner__icon {
    margin-bottom: 1rem;
  }
  .c-reviews__card {
    margin-top: 5rem;
  }
}

.c-login-titel {
  text-align: center;
}

.c-registeerlink-opmaak {
  color: #e84e1b;
}

.c-registeerlink-opmaak:hover {
  color: #f29100;
}
/*# sourceMappingURL=screen.css.map */